.section_header
{width: 30%;
    text-align: left;
   
    height: 320px;
    float: left;
    
}
.color1
{
    background: #fbfbfb;
}
.selection_content
{
    

    width: 70%;
    text-align:right;
    height: 320px;
    float: right;
}
.avatar_img
{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	
	margin-left: 50px;
	margin-top: 20px;
}
.brand_titel_top
{
	padding-top: 30px;
	text-align: left;
	margin-left: 20px;
}
.brand_titel_down
{
	text-align: left;
	margin-left: 20px;
}
.brand_titel-surname
{
	display: block;
	font-size: 50px;
}
.brand_titel-name
{
	padding-top: 30px;
	display: block;
	font-size: 50px;
	color: #F8BB10;
}
.brand_titel-profession
{
	padding-top: 30px;
	display: block;
	font-size: 35px;
	position: absolute;
	
}
.header_social-button
{
	
	display:flex;
	
	margin-right: 20px;
	float: right;
	
}

.button_titel
{
	display: none;

	
}
.header_down
{
	display:block;
	margin-top: 80px;
}
.header_top
{
	margin-top: 50px;
}

 a.linkedin {
	background-image: url(img/linkedin.png);
}
a.vk
{
	background-image: url(img/vk.png);
}
a.facebook
{
	background-image: url(img/facebook.png);
}
a.sb,
.sb a {
	width: 38px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -900em;
	color: #333;
	
	line-height: 100%;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 0 2px 5px 0;
	
	/* default button color */
	background-color: #ededed;
	border: solid 1px #ededed;
	
	/* default box shadow */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);

	/* default border radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 6px;
	
}
/* default hover */
a.sb:hover:after,
.sb a:hover:after {
	background-image: none;
}
a.sb:hover,
.sb a:hover,
a.sb:hover:after,
.sb a:hover:after {
	background-color: #F8BB10;
}
.heade_delimiter
{
	width: 850px;
	    border-color: #ececec;
	margin-bottom: 8px;
	
}

.header_contact
{ margin-left: 200px;
	display:flex;
	
}
.header_contact,.contact_phone
{
	width: 50%;
	
}
.header_contact,.contact_email
{
	width: 50%;
}
.phone_name
{
	
	font-size: 20px;
	display: block;
	text-align: left;
	margin-bottom: 8px;
}
.phone_number
{
	
	font-size: 25px;
	display: block;
		text-align: left;
}
.email_name
{
	font-size: 20px;
	display: block;
	text-align: left;
	margin-bottom: 8px;
}
.email_adress
{
	font-size: 25px;
	display: block;
	text-align: left;
	color:#939393;
	
}

.email_adress:hover,
.email_adress:hover:after,
.email_adress a:hover:after {
	color:#F8BB10;
}

.toolbox_container
{
	margin-left: 20px;
	
	width: 350px; /* Full width */
    background-color: #ececec; /* Grey background */
	border-radius: 5px;
}
.skill_table
{
	margin-top: 20px;
}
.skill_view_left
{
	margin-left: 20px;
	margin-top: 30px;
	float: left;
}
.skill_view_right
{
	position: relative;
	margin-right: 40px;
	margin-top: 30px;
	float: right;
}
.skill_titel
{
	
	font-size: 15px;
	margin-left: 25px;
	text-align: left;
	margin-bottom: 2px;
}
.skill_titel_color
{
	color: #F8BB10;
}
.skill_view
{
	display: block;
	margin-bottom: 15px;
}

.skills {
    text-align: right; /* Right-align text */
    padding: 10px; /* Add some padding */
    color: white; /* White text color */
}

.csharp {width: 15%; background-color: #F8BB10;}
.html {width: 8%; background-color: #F8BB10;}
.css {width: 8%; background-color: #F8BB10;}
.python {width: 13%; background-color: #F8BB10;}
.photoshop {width: 21%; background-color: #F8BB10;}
.threedmax {width: 17%; background-color: #F8BB10;}
.git {width: 16%; background-color: #F8BB10;}
.cplusplus {width: 15%; background-color: #F8BB10;}

.header_titel
{
	float: right;
	margin: 80px 80px ;
	font-size: 30px;
}
